certifi==2022.12.7
chardet==3.0.4
Click==7.0
docopt==0.6.2
Flask==1.1.1
heroku==0.1.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pipreqs==0.4.10
python-dateutil==1.5
pytube==9.5.2
pyTelegramBotAPI==3.6.6
requests==2.22.0
six==1.13.0
ujson==1.35
urllib3==1.25.7
virtualenv==16.7.9
Werkzeug==0.16.0
yarg==0.1.9
